// colors
@import 'colors';
// variables

// page-specific styles
@import './pages/home';
@import './pages/info';
@import './pages/contact';
@import './pages/new';
@import './pages/404';
@import './components/header';

// fonts
@import 'fonts';

// base styles

.horizontal-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@font-face {
  font-family: ibm;
  src: url('./webfonts/IBM_BIOS.woff') format('woff');
}

html * {
  font-family: 'ibm';
  letter-spacing: -1px;
}

body {
  margin:0
}

::-webkit-scrollbar-thumb {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAABlBMVEWqqqpVVVWzGxUgAAAADElEQVQI12NwYHIAAAEIAIPJpZSRAAAAAElFTkSuQmCC);
}
::-webkit-scrollbar-track {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACAQMAAABFZu8gAAAABlBMVEUAqqoAAAC9JseZAAAADElEQVQI12N4wHQBAAN4AbOxhpasAAAAAElFTkSuQmCC);
}
::-webkit-scrollbar-corner {
    background: #555;
}
::-webkit-scrollbar {
    width: 8px;
}
::selection {
  background-color: rgba(111, 111, 111, 0.75);
  color: #000;
}